<html xmlns:th="http://www.thymeleaf.org" lang="ru"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" />
    <meta name="robots" content="none"/>
    <meta name="description" content="Метровагонмаш - производит вагоны метро, дизель поезда, рельсовые автобусы." />
    <meta name="format-detection" content="telephone=no">
    <link href="/css/style.css">
    <link rel="icon" href="/img/icons/favicon.ico?v=1" type="image/x-icon">
    <title>ВКС</title>
</head>
<body>



<div th:if="${employeeList==null}">
    <div class="container">
        <form action="#" th:action="@{/admin/find-by-name/}" method="post">

    <span class="content">
   <input type="text" size="2" id="findBySurname" style="text-align: center" class="form-control" name="findBySurname">
    <p style="text-align: center" size="10"><input type="submit" class="btn btn-outline-danger"   style="text-align: center; " value="Отправить"></p>
</span>
        </form>
    </div>
</div>

<form action="#" th:action="@{/save-user}" method="post">
    <div th:if="${employeeList!=null}">
        <table class="table table-striped table-bordered table-responsive-sm text-center">
            <tr>
                <th>ID</th>
                <th>NAME</th>
                <th>SURNAME</th>
                <th>MIDDLE NAME</th>
                <th>PHONE</th>
                <th>EMAIL</th>
                <th>BANNED</th>
            </tr>

            <tbody>

            <!--    <form method="post" action="/save-user" accept-charset="UTF-8">-->
            <tr th:each="profile : ${employeeList}">
                <td>
                    <!--            <label for="id"></label>-->
                    <input th:if="${profile.id!= null}" th:value="${profile.id}" type="text" size="2" id="id" style="text-align: center" class="form-control" name="id" readonly/></td>
                <td>
                    <input th:if="${profile.name!= null}" th:value="${profile.name}" type="text" size="2" id="name" style="text-align: center" class="form-control" name="name"/>
                </td>
                <td>
                    <input th:if="${profile.surname!= null}" th:value="${profile.surname}"  type="text" size="2" id="surname" style="text-align: center" class="form-control" name="surname"/>
                </td>
                <td>  <input th:if="${profile.middleName!= null}" th:value="${profile.middleName}" type="text" size="2" id="middleName" style="text-align: center" class="form-control" name="middleName"></td>
                <td>  <input th:if="${profile.phone!= null}" th:value="${profile.phone}" type="text" size="2" id="phone" style="text-align: center" class="form-control" name="phone" ></td>
                <td>  <input th:if="${profile.email!= null}" th:value="${profile.email}" type="text" size="2" id="email" style="text-align: center" class="form-control" name="email" readonly></td>
                <td>
                    <div>
                        <select tabindex="10" name="banned" th:value="${profile.banned!= null}" >
                            <option value="red" th:text="${profile.banned}"></option>
                            <option value="true" th:if="${profile.banned != true}" >true</option>
                            <option value="false" th:if="${profile.banned != false}" >false</option>
                            <!--                    <option selected value="green">НЕ активный</option>-->
                        </select>
                    </div></td>
            </tr>
            <!-- </form>-->
            </tbody>

        </table>
        <p style="text-align: center" size="10"><input type="submit" class="btn btn-outline-danger"   style="text-align: center; " value="Отправить"></p>
    </div>
</form>

<div th:if="${employeeList!=null}">
    <div class="container">
        <form action="#" th:action="@{/admin/find-by-surname/}" method="post">

    <span class="content">
   <input type="text" size="2" id="findBySurname1" style="text-align: center" class="form-control" name="findBySurname">
    <p style="text-align: center" size="10"><input type="submit" class="btn btn-outline-danger"   style="text-align: center; " value="Отправить"></p>
</span>
        </form>
    </div>
</div>

</body>
</html>
