<html xmlns:th="http://www.thymeleaf.org" lang="ru"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" />
    <meta name="robots" content="none" />
    <meta name="description" content="Метровагонмаш - производит вагоны метро, дизель поезда, рельсовые автобусы." />
    <meta name="format-detection" content="telephone=no">
    <link href="/css/style.css" type="text/css" data-template-style="true" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="icon" href="/img/icons/favicon.ico?v=1" type="image/x-icon">
    <title>Рдактирование пользователя</title>
</head>

<body>
<header>
    <nav class="nav">
        <a href="/" class="nav__logo hidden-sm hidden-xs">
            <img width="223" src="/img/logo_rus.gif" height="41" alt="Метровагонмаш">

        </a>
    </nav>
</header>

<div class="login-p">
    <div class="login-f">
        <form th:if="${error != true}" class="pure-form" th:action="@{/reset-password}" method="post">
            <h2 class="form-registration-heading">Восстановление пароля</h2>
            <div class="form-group">
                <p class="login-str"></p>
                <!--
                <p class="login-message" style="color: red" th:if="${loginErrorMessage == true}">Такой логин уже существует!</p>
                -->
                <input tabindex="1" placeholder="Логин" type="text" name="username" class="form-control" id="username" th:field="${profileData.login}" readonly/>
                </p>
                <div class="form-group">
                    <p class="pass-str"></p>
                    <input tabindex="2" placeholder="Новый пароль" type="password" class="form-control" id="password" th:field="*{profileData.password}" required/>
                    <p class="pass-str"></p>
                    <input tabindex="3" placeholder="Повторите пароль" class="form-control" type="password" id="confirm_password" required/>
                </div>
                <div class="btn-group">
                    <input type="hidden" name="_csrf" value="{{_csrf.token}}">
                    <div>
                        <p class="btn-p"></p>
                        <input tabindex="4" class="btn btn-primary" type="submit" value="Сохранить" />
                        <input tabindex="5" class="btn btn-outline-secondary" type="reset" value="Очистить" />
                    </div>
                </div>

            </div>
        </form>
        <p th:if="${error == true}">Ошибка токена!</p>
    </div>
</div>
<script src='/js/password-validation.js'></script>
</body>

</html>