@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&subset=cyrillic");
@import "_nullstyle.scss";
@import "_navigation.scss";


article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block;
}
* {
    outline: none;
}
* {
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
nav {
    display: block;
}
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
    .back-img {
        box-sizing: content-box;
        background: url("/img/content_dzerjinskaya.jpg") 0 0/100% 100% no-repeat;
        height: 100%;
        @media only screen and (max-width: 767px) {
            .back-img {
            background: url(/img/content_dzerjinskaya.jpg) 0 0/100% 100% no-repeat;
            height: 100%;
            }
        }
    }
}
img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    border: none;
}

registration {
    text-align: center;
    position: fixed;
    width: 100%;
    left: 0;
    z-index: 100;
    padding-top: 70px;
}

.login-p {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: auto;
    .login-f {
        width: 250px;
        height: 75%;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        .login-message{
            padding-left: 25px;
        }
        .form-group{
            display: block;
            line-height: 10px;
            text-align: center;
        }
    }
}


.form-heading {
    
    text-align: center;
    position: static;
}
.sr-only {
    padding-left: 40%;
}
.pass-str {
    margin-top: 15px;
    padding-left: 40px;
}
.form-check-text-center {
    margin-top: 15px;
}
.butt-ent {
    margin-top: 30px;
}
.container {
    padding-top: 15px;
}
.forget-pass {
  padding-top: 10px;
  text-decoration: none;
}